
<section class="featured-section">
    <div>
        <div class="col-md-12 text-center pt-5">
            <h2 class="text-white mt-2">Featured Posts</h2>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ab eaque repudiandae?</p>
        </div>
    </div>
    <div class="featured-posts">
        <div class="col-lg-3 post">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3 post">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3 post">
            <app-post-card></app-post-card>
        </div>
        <div class="col-lg-3 post">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>


<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A facere iure iusto.</p>
    </div>

    <div class="latest-posts">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>