<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img src="../../../assets/common/blog01.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Features</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,289</small>
                    <small class="bg-light text-warning text-center ml-2">Last updated - sep 25, 2023</small>

                    <h1 class="mt-3 mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, repellat.
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni similique at ratione natus unde! Delectus ex fugiat, maxime accusamus quod impedit est id, facilis sint voluptates quasi ullam praesentium magni molestiae, harum cum amet? Ad praesentium modi consequatur id! Placeat nobis expedita facere? Porro nemo eum itaque ducimus, soluta, saepe officiis pariatur, similique tenetur praesentium non? Aut corrupti illum recusandae necessitatibus modi ipsam? Quod deserunt eum impedit maxime necessitatibus beatae optio, dolore nesciunt, in nihil harum, quidem voluptatibus praesentium suscipit ad inventore alias! Incidunt omnis minima, vitae aspernatur nobis quasi itaque, obcaecati provident mollitia consequatur neque placeat ab earum impedit.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
