<div class="card shadow-effect">
    <img src="https://cdn.pixabay.com/photo/2018/02/04/09/09/brushes-3129361__340.jpg" alt="post" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-center ml-3">View-100</small>

        <h5 class="mt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellat quae eius eaque
             distinctio maiores?
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit et iure fugiat exercitationem molestias debitis.</p>
        <small class="bg-light text-warning text-center">Last Updated 20.10.2022</small>
    </div>
</div>
